<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center small">
            <div>
                <a href="https://www.facebook.com/nguyen.hung.705342/" target="_blank">Facebook</a>
            </div>
        </div>
    </div>
</footer>